<div class="starter-template">
    <h1>Hello {{name}}</h1>

    <h3>Busuu front end test app
        <br>High Score page</h3>

    <h3>Your score is {{score}}<br>

        Your can enter name here: <input name="name"
                                         ng-model="name"
                                         ng-change="setPlayerName(name)"
                                         placeholder="Enter your name here">
    </h3>

    <button class="btn btn-default" type="submit"
            ng-click="generateResult()">
        Generate result
    </button>

    <div class="text-warning">
        {{result}}
    </div>

    <a download="BusuuResult.txt" ng-href="{{ url }}">Download result</a>

    <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper nisl non tellus fringilla, non
        maximus ligula molestie. Aliquam egestas, felis aliquet vestibulum aliquet, orci nunc euismod massa, in tempor
        lacus mauris ac nisl. Curabitur luctus molestie ante, nec luctus mauris placerat ut. Nulla sodales erat id eros
        congue elementum. Aliquam faucibus non neque eu mattis. Vivamus sit amet dolor eu dui pulvinar egestas interdum
        quis enim. Etiam mattis cursus ipsum vel dapibus. In hac habitasse platea dictumst. Morbi consectetur magna id
        risus consectetur, non ultricies quam bibendum. Quisque ac mi nec justo eleifend auctor et ac nibh. Etiam
        ultrices viverra quam, in convallis nulla. Donec vitae aliquam odio, nec tincidunt tortor. Sed accumsan molestie
        felis ac congue.
    </p>

    <p class="text-left">
        Mauris non placerat leo. Curabitur tincidunt rutrum semper. Vivamus dapibus tempus odio, quis dignissim metus
        sodales sed. Fusce tempus fringilla libero, nec consequat tellus vestibulum non. Sed condimentum velit vel nisi
        tincidunt vulputate. Phasellus nec mattis justo. Fusce semper, velit eu elementum gravida, diam erat imperdiet
        dui, a vestibulum libero lorem nec ante. Duis sollicitudin posuere elit, non ultrices purus pharetra nec.
        Maecenas ultrices felis quis scelerisque porttitor. Duis ultrices, lectus ut eleifend maximus, turpis nibh
        sollicitudin quam, a aliquet ipsum purus nec erat. Nunc placerat erat vitae lorem vehicula, eget tincidunt ante
        finibus. Curabitur tempor, metus sed tristique auctor, dolor lacus vestibulum magna, in fermentum est felis a
        erat. Nam vestibulum ornare mauris non commodo. Sed rhoncus metus ac quam facilisis, varius vehicula arcu
        gravida. In ut orci sed justo hendrerit bibendum. Nunc interdum metus felis, vitae euismod lorem vestibulum
        feugiat.
    </p>

    <p class="text-left">
        Nulla sem lorem, varius quis varius eu, malesuada non est. Nunc vulputate aliquam ligula eu ullamcorper. Nunc
        bibendum convallis dui sed laoreet. Vestibulum iaculis libero sem, a condimentum ligula efficitur ac. Proin
        libero velit, ultricies id gravida vel, ultrices vitae sapien. Etiam magna sapien, laoreet ac feugiat nec,
        tempor eget nibh. Integer venenatis tincidunt dui. In ut suscipit odio. Nullam ligula massa, finibus sit amet
        enim sit amet, mattis mollis nunc. Nulla pellentesque neque vel odio blandit, finibus sodales libero gravida.
        Suspendisse magna nisl, tristique vitae purus vel, vulputate tincidunt lectus. Cras ac nulla condimentum,
        tristique eros vitae, condimentum elit. Curabitur in iaculis ligula. Aliquam laoreet semper pretium. Duis mattis
        efficitur nibh, vel egestas dolor dictum dignissim. Morbi tincidunt, justo nec iaculis ornare, ex lectus
        tincidunt elit, interdum accumsan libero velit vitae nunc.
    </p>

    <p class="text-left">
        Quisque ac ullamcorper nisl. Nulla porttitor euismod nulla, in scelerisque ligula elementum eu. Mauris a
        vulputate sem. Curabitur imperdiet ante et magna laoreet semper. Duis sapien mi, sodales pretium pharetra non,
        mattis non purus. Nullam porttitor eros quis metus egestas, eu molestie purus mattis. Duis euismod cursus
        blandit. Proin rutrum ipsum ut orci gravida, eget vestibulum quam rutrum. Ut euismod arcu ut pharetra ornare.
        Nullam vehicula sollicitudin turpis, in tempus nulla. Cras eu neque blandit, imperdiet diam quis, volutpat
        metus. Vivamus dictum arcu eleifend euismod bibendum. Morbi nec massa sed metus pharetra consectetur. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris nec hendrerit est,
        non auctor eros.
    </p>

    <p class="text-left">
        Praesent quis efficitur quam, a tempor justo. Proin sit amet nisi tempor, pharetra lacus eget, aliquam sapien.
        Mauris tincidunt ex non felis facilisis, at ullamcorper urna congue. Vivamus id tellus vestibulum, sodales nisi
        eu, porta risus. In hac habitasse platea dictumst. Cras vel porta arcu. Fusce non mi id mauris sagittis
        venenatis eget sed lorem. Donec finibus, velit id rhoncus accumsan, urna nibh tristique nibh, at tempus velit
        nisl ut mauris. Fusce mattis neque accumsan tortor fermentum semper.
    </p>
</div>
