<div class="starter-template">
    <h2 class="media">Please, put the correct Spanish words for the following definitions:</h2>
    <div ng-repeat="sentence in idObj.sentences" class="left">
        <div class="lead">'{{sentence.def}}'


            <div class="input-lg">

                <input id="{{$index}}" ng-focus="ans = sentence.en; idAnswer = '';" ng-blur="ans = checkAnswer({idQuestion:idObj.randoms[$index],Answer:idAnswer})?'correct answer':'wrong answer'"
                       ng-model="idAnswer"
                       min="2"
                       placeholder="Enter your answer here">

                <div class="text-info; text-muted; text-danger">{{ans}}</div>
            </div>
        </div>
    </div>
</div>