<div class="starter-template">
    <div class="text-center">
        <h3>Please, choose the correct Spanish word for the following definition:</h3>
    </div>

    <div class="text-left">
        <h3>Round {{idObj.Round}}</h3>
    </div>

    <form name="userChoice">
        <div class="left table-bordered">
            <div class="lead">


                <div class="row">
                    <div class="col-xs-12">
                        Question: {{idObj.Question.def}} ({{idObj.Question.en}})
                    </div>
                </div>

                <div class="row" ng-repeat="answers in idObj.Answers">
                    <div class="col-xs-6 text-right">
                        {{answers.es}}
                    </div>
                    <div class="col-xs-6 text-left">
                        <label>
                            <input type="radio" ng-model="idObj.idAnswer"
                                   ng-value="idObj.randoms[$index]">
                        </label>
                    </div>
                </div>


            </div>
        </div>
        <br>
        <button class="btn btn-default" type="submit"
                ng-click="ans = checkAnswer({Question:idObj.Question.def, idAnswer:idObj.idAnswer})">
            Submit
        </button>
    </form>

</div>